# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
config.json
env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Generated output files
output/
MDFiles/*.html
TeamsCommunication/MIDPAgent_TeamsApp.zip
AzureDeploy/deploy-package.zip
AzureDeploy/deploy-package.zip
applogs.zip
applogs/deployments/active
applogs/deployments/pending
applogs/deployments/0986ff9f-9c6b-444e-be00-54e974e691ef/status.xml
applogs/deployments/55b4f750-8474-4444-9e42-883b16b6460b/status.xml
applogs/deployments/6411ad66-267f-4abf-9cf8-c74249636084/status.xml
applogs/deployments/6f7b51c6-8c1b-4de1-b7de-e8d3ab728d43/status.xml
applogs/deployments/8185432e-5d98-4d28-86f9-dc20294f5d28/status.xml
applogs/deployments/822f20b7-db01-4857-993d-fddd943b0451/status.xml
applogs/deployments/b69045cf-1127-4802-b54d-9bcaf60e559f/status.xml
applogs/deployments/bdb7e8b9-ff20-4a3e-bbb9-098f4a54a66b/status.xml
applogs/LogFiles/kudu/deployment/3c287f6d12e9-77bf69cb-b9e6-4289-b8fb-63d9b66df70d.txt
applogs/LogFiles/kudu/deployment/3f3d232afec4-4c94c499-61f1-4587-8d05-d59cd0beb011.txt
applogs/LogFiles/kudu/deployment/3f3d232afec4-b1176cb5-896e-4099-a2d0-cfaf3857f280.txt
applogs/LogFiles/kudu/deployment/3f3d232afec4-d3cffa00-7bed-4803-ae89-f6c9103285a1.txt
applogs/LogFiles/kudu/deployment/3f3d232afec4-d04586e2-2f45-4b35-9201-5f9164c4eb71.txt
applogs/LogFiles/kudu/deployment/3f3d232afec4-e8a3ea1b-f983-4686-9963-a6829322be82.txt
applogs/LogFiles/kudu/deployment/3f3d232afec4-f61a084c-147b-45c4-83f5-ee6ebe14fd83.txt
applogs/LogFiles/kudu/deployment/19549c152cb5-0e321bed-eda7-4025-bfeb-1c0da86dfeb2.txt
applogs/LogFiles/kudu/deployment/19549c152cb5-52e09212-85e2-4b83-9f0f-ccf63e2d5aa6.txt
applogs/LogFiles/kudu/trace/3c287f6d12e9-34efd2d9-208b-4ff5-b448-647f9ff9dd2c.txt
applogs/LogFiles/kudu/trace/3f3d232afec4-634d4153-5abe-48f7-8fe1-9090717686d1.txt
applogs/LogFiles/kudu/trace/2026-03-20T16-51-49_e2c172_001_Startup_GET_api-deployments_0s.xml
applogs/LogFiles/kudu/trace/2026-03-20T16-51-50_e2c172_003_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-20T16-55-30_e2c172_005_GET_api-deployments-822f20b7-db01-4857-993d-fddd943b0451-log_200_0s.xml
applogs/LogFiles/kudu/trace/2026-03-20T16-56-55_e2c172_007_GET_dump_200_1s.xml
applogs/LogFiles/kudu/trace/2026-03-20T16-58-18_e2c172_009_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-20T16-59-23_e2c172_001_Startup_GET_api-deployments_0s.xml
applogs/LogFiles/kudu/trace/2026-03-20T16-59-24_e2c172_003_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-20T17-00-56_e2c172_005_GET_api-deployments-8185432e-5d98-4d28-86f9-dc20294f5d28_200_0s.xml
applogs/LogFiles/kudu/trace/2026-03-20T17-05-42_e2c172_006_GET_dump_200_0s.xml
applogs/LogFiles/kudu/trace/2026-03-20T17-20-55_e2c172_001_Startup_GET_api-deployments_0s.xml
applogs/LogFiles/kudu/trace/2026-03-20T17-20-57_e2c172_003_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-20T17-23-51_e2c172_005_GET_api-deployments-bdb7e8b9-ff20-4a3e-bbb9-098f4a54a66b_200_0s.xml
applogs/LogFiles/kudu/trace/2026-03-23T10-57-49_e2c172_006_GET_dump_200_1s.xml
applogs/LogFiles/kudu/trace/2026-03-23T11-00-35_e2c172_008_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-23T11-01-37_e2c172_010_GET_api-deployments-6411ad66-267f-4abf-9cf8-c74249636084_200_0s.xml
applogs/LogFiles/kudu/trace/2026-03-23T12-25-25_e2c172_012_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-23T12-26-29_e2c172_014_GET_api-deployments-6f7b51c6-8c1b-4de1-b7de-e8d3ab728d43_200_0s.xml
applogs/LogFiles/kudu/trace/2026-03-23T13-47-00_e2c172_016_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-23T13-48-29_e2c172_018_GET_api-deployments-b69045cf-1127-4802-b54d-9bcaf60e559f_200_1s.xml
applogs/LogFiles/kudu/trace/2026-03-23T14-45-45_e2c172_020_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-23T14-46-53_e2c172_022_GET_api-deployments-55b4f750-8474-4444-9e42-883b16b6460b_200_1s.xml
applogs/LogFiles/kudu/trace/2026-03-23T14-52-58_e2c172_024_POST_api-publish_pending.xml
applogs/LogFiles/kudu/trace/2026-03-23T14-54-02_e2c172_026_GET_api-deployments-0986ff9f-9c6b-444e-be00-54e974e691ef_200_1s.xml
applogs/LogFiles/kudu/trace/2026-03-23T14-57-22_e2c172_027_GET_dump_pending.xml
applogs/LogFiles/kudu/trace/19549c152cb5-4861ac7d-e126-443a-820a-a5f2b954259b.txt
AzureDeploy/deploy-package.zip
